*.iml
.gradle/
/local.properties
/.idea
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
/app/build
/app/release
*.apk
*.aab
*.ap_
*.dex
bin/
gen/
out/
.navigation/
*.log
*.hprof
*.class
*.jar
!.gradle/wrapper/gradle-wrapper.jar
*.aar
*.war
*.ear
.idea/
